{{#paper-toolbar}}
  <div class="md-toolbar-tools">
		Bridge Logo
	<div class="flex-right" >
	{{#if isLoggerIn}}
    {{#paper-button}}Log Out{{/paper-button}}
	{{else}}
    {{#paper-button}}Sign Up{{/paper-button}}
	{{/if}}
	</div>
  </div>


  
{{/paper-toolbar}}

